<h3>Login</h3>
<div class="alert alert-error">
  <p>OH Snap! Your username or password are incorrect please try again</p>
</div>
<form class="form-horizontal" action="/login" method="post">
  <input type="hidden" name="id"></input>
  <input class="span2" type="text" name="username" id="appendedInput" placeholder="Username">
  <input type="password" name="password" id="passwordInput" placeholder="Password"></input>
  <input type="submit" value="Login" class="btn btn-success"></input>
</form>
<a href="/create">Create New User</a>