<div class="graph-container">
	<p>This is where the graph will go</p>
</div>
<div class="legend">
	<ul>
		<li><span class="blue"></span>November 20th</li>
		<li><span class="black"></span>November 21st</li>
	</ul>
</div>
!!!
.graph-container
%p This is where the graph will go
.legend
	%ul
		%li
			%span(class="blue")November 20th
		%li
			%span(class="black") November 21st